@base-font-size: 12pt;
@code-font-size: 10pt;
@mobile-breakpoint: 1000px;
@nav-height: 32px;
@toc-width: 15em;

body {
    //border-left: (@toc-width)-2em solid #333;
    font-family: 'Noto Sans', sans-serif;
    font-size: @base-font-size;
    height: 100%;
    margin: 0 0 0 0;
    overflow-y: hidden;
    padding: 0 0 0 0;
    position: absolute;
}

#api {
    position: relative;
    top: 32px;
    right: 0;
    height: 100%;
    margin-left: @toc-width;
    padding-right: 1em;
    overflow-y: scroll;

    & > ul {
        background: #333;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: block;
        font-size: 14px;
        height: 100%;
        margin-left: 0 !important;
        margin-top: 0;
        overflow-y: auto;
        padding-left: 1em !important;
        position: fixed;
        top: 32px;
        left: 0;
        text-transform: uppercase;
        width: @toc-width;

        a {
            color: #aaa;
        }

        & > li {
            padding-bottom: 0.5em;

            & > a {
                line-height: 2;
            }
        }
    }

    & ul {
        margin-bottom: 0;
        margin-left: 1em;
        list-style: none;
        padding-left: 0px;

        & ul li {
            font-size: 12px;
            text-transform: none;
        }
    }
}

a {
    color: #39c;
    text-decoration: none;
}

#nav {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: @nav-height;
    line-height: 2;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1;

    .logo {
        //background: url("/img/logo-active.svg") no-repeat center center;
    }
}

#toc optgroup {
    text-transform: uppercase;

    & option {
        text-transform: none;
    }
}

h1#table-of-contents { display: none; }

table {
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid #d8d8d8;
}

th, td {
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid #d8d8d8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

tr:nth-child(even) { background: #f8f8f8; }

code {
    background: rgba(0,0,0,0.06);
    border-radius: 3px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: @code-font-size;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

pre code {
    display: block;
    line-height: 1.45;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

#toc { display: none; }

@media (max-width: @mobile-breakpoint) {
    body {
        //border-left: none;
    }

    #toc {
        display: block;
        float: right;
        margin-right: 2em;

        select {
            font-size: @base-font-size;
        }
    }

    #api {
        & > ul { display: none; }
        margin-left: 0;
        padding-left: 1em;
    }
}
