@base-font-size: 12pt;
@code-font-size: 10pt;
@mobile-breakpoint: 1000px;
@mobile-base-font-size: 3vmin;
@mobile-code-font-size: 2vmin;
@nav-font-size: 16pt;
@nav-height: 36pt;
@toc-width: 15em;

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: @base-font-size;
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

#api {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: @nav-height;
    margin-left: @toc-width;
    padding-right: 1em;
    overflow-y: scroll;
    height: 100vh;

    & > ul {
        position: fixed;
        top: 0;
        left: 0;
        width: @toc-width;
        height: 100vh;
        margin-left: 0 !important;
        padding-left: 1em !important;
        background: #333;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        font-size: 14px;
        overflow-y: auto;
        margin-bottom: 20em !important;
        text-transform: uppercase;

        a {
            color: #aaa;
        }

        & > li {
            padding-bottom: 0.5em;

            & > a {
                line-height: 2;
            }
        }
    }

    & ul {
        margin-bottom: 0;
        margin-left: 1em;
        list-style: none;
        padding-left: 0px;

        & ul li {
            font-size: 12px;
            text-transform: none;
        }
    }
}

a {
    color: #39c;
    text-decoration: none;
}

#nav {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: @nav-font-size;
    position: fixed;
    top: 0;
    width: 100vw;
    height: @nav-height;
    line-height: 2;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1;
}

.logo {
    color: #333;
    font-weight: bold;

    &:before {
        content: '';
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 8px;
        background: data-uri('../heim/art/logo.svg') no-repeat center center;
        background-size: contain;
        vertical-align: middle;
    }
}

#toc optgroup {
    text-transform: uppercase;

    & option {
        text-transform: none;
    }
}

h1#table-of-contents { display: none; }

table {
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid #d8d8d8;
}

th, td {
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid #d8d8d8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

tr:nth-child(even) { background: #f8f8f8; }

code {
    background: rgba(0,0,0,0.06);
    border-radius: 3px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: @code-font-size;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

pre code {
    display: block;
    line-height: 1.45;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

#toc { display: none; }

@media (max-width: @mobile-breakpoint) {
    body {
        font-size: @mobile-base-font-size;
    }

    #toc {
        display: block;
        float: right;
        margin-right: 2em;

        select {
            font-size: @mobile-base-font-size;
        }
    }

    #api {
        & > ul { display: none; }
        margin-left: 0;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 0;
        overflow-x: hidden;
    }

    code {
        font-size: @mobile-code-font-size;
    }
}

@media (max-width: 480px) {
    #nav .logo {
        display: inline-block;
        overflow: hidden;
        height: 2em;
        width: 2em;
    }
}
